html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-image:url('images/bg.jpg');
}

h1 {
    margin-top: 0px;
}

h2 {
    margin-top: 0px;
}

.profilewarningspan {
    cursor: hand;
    cursor: pointer;
    text-align: center;
    font-size: 120%;
    /* background-color: #DD3535; */
    background-color: #CC2525;
    color: #FFFFFF;
    text-shadow: 0px 0px 5px #000000;
    min-height: 60px;
    padding-top: 12px;
}

.banned {
    text-align: center;
}

.menuspan {
    background-color: #101010;
    color: #AAAAAA;
    height: 20px;
}

.toprow {
    font-size: 110%;
    height: 30px;
    line-height: 30px;
}

.logspace {
    text-align: right;
}

.rt_cal_title {
    text-align: center;
}

#start_bottom_row {
    color: #101010;
    height: 200px;
    width: 100%;
    overflow: hidden;

    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#start_title_box {
    height: 100%;
    font-weight: bold;
    overflow: hidden;
    float: left;
    width: 33%;
    display: block;
    text-shadow: 
	1px 1px 0 rgba(0, 168, 255, 1),
	2px 2px 0 rgba(255, 0, 180, 0.5);

    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 4%;
}

#start_text_box {
    height: 100%;
    overflow: hidden;
    float: left;
    width: 63%;
    display: block;

    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

#start_text {
    text-align: justify;
    line-height: 140%;
    min-width: 348px;
    display: block;

    margin-left: 20%;
    margin-right: 20%;
}

#start_text:first-letter {
    float:left;
    font-size:4em;
    margin-right:0.10em;
    line-height:90%;
    text-shadow: 
	0.04em 0.04em 0 rgba(0, 168, 255, 0.6),
	0.05em 0.05em 0 rgba(255, 0, 180, 0.45);
}

.start_divider {
    min-height: 30px;
    background-color: #101010;
}

.rt_col {
  float: left;
  min-height: 1px;
}

.rt_cal_container {
    padding: 0 1% 0 1%;
}

.fc-content {
    background-color: #FFFFFF;
    box-shadow:
	4px 4px 0px rgba(0, 168, 255, 0.2),
	8px 8px 0px rgba(255, 0, 180, 0.1);
}

.daycal {
    height: 100%;
}

#top_rows {
    background-color: #F6F6F6;
}

#top_rows_bottom {
    background-color: #CCC;
    height: 3px;
}

#map_canvas {
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: block;
}

#rt_map_canvas {
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: block;
}

#resource_map_canvas {
    height: 100px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: block;
}

#resource_calendar {
    height: 100%;
}

#resource_divider {
    min-height: 4px;
    background-color: #101010;
    margin-bottom: 10px;
}

#resource_info_column {
    padding-top: 40px;
}

#profile_box, #rule_box, #error_box {
    width: 200px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    position: relative;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-top-style: double;
    border-bottom-style: double;
    border-top-color: #E1A60A;
    border-bottom-color: #E1A60A;
    padding: 8px 0px;
    box-shadow:
	1px 2px 4px rgba(0, 168, 255, 0.1),
	2px 3px 4px rgba(255, 0, 180, 0.1);
}

#profile_background, #rule_background, #error_background {
    background: #FFFFFF;
    opacity: 0.6;
    filter: alpha(opacity=40);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#profile_form {
    position: relative;
    width: 150px;
    height: 300px;
    padding-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.helptext {
    font-style: italic;
    color: #666;
}

#rule_box, #error_box {
    position: relative;
    width: 50%;
    height: auto;
}

#rule_content, #error_content {
    position: relative;
    padding: 20px 20px 0 20px;
}

#error_content {
    margin-bottom: 10px;
    text-align: right;
}

/* Mobile */
@media handheld, only screen and (max-width: 767px) { 
    .topcol {
	text-align: center;
	float: left;
	width: 33%;
    }
    .toprow {
	font-size: 120%;
	height: 50px;
	line-height: 50px;
	padding-top: 0;
    }
    .menuspan {
	height: 50px;
    }
}

/* Short screens */
@media handheld, only screen and (max-height: 450px){
    .hide-on-short {
	display: none !important;
    }
    h1 {
	margin: 0;
	padding: 0;
    }
    #resource_divider { margin-bottom: 0px; }
    #resource_info_column { padding-top: 0px; }
}

/* Menu things */
#fl_menu, #mb_menu {
    position: absolute;
    left: 0px;
    z-index: 9999;
    width: 300px;
    height: 20px;
    text-align: right;
}
#fl_menu_hover {
    position: absolute;
    left: 0px;
    z-index: 9999;
    width: 300px;
    height: 120px;
}
#fl_menu .label, #mb_menu .label {
    z-index: 9999;
    padding-left: 20px; 
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #E1E1E1;
    letter-spacing: 7px;
    margin-right: 15%;
}
#fl_menu .menu {
    z-index: 9999;
    display: none;
}
#fl_menu .menu .menu_item, #mb_menu .menu .menu_item {
    display: block;
    background: #101010;
    color: #bbb;
    border-top: 1px solid #202020;
    border-left: 10px solid #202020;
    padding: 10px 20px;
    height: 50px;
    font-size: 13px;
    text-decoration: none;
}
#fl_menu .menu .menu_item img, #mb_menu .menu .menu_item img {
    margin-right: 25px;
    opacity:  0.5;
    filter: alpha(opacity=50);
}
#fl_menu .menu .menu_item:hover img, #mb_menu .menu .menu_item:hover img {
    opacity: 0.86;
    filter: alpha(opacity=86);
}
#fl_menu .menu a.menu_item:hover, #mb_menu .menu a.menu_item:hover {
    background: #101010;
    color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#fl_menu .menu_item_image, #mb_menu .menu_item_image {
    float: left;
    overflow: hidden;
}
#fl_menu .menu_decorator, #mb_menu .menu_decorator {
    position: absolute;
    height: 100%;
    top: 0px;
    width: 10px;
    background: #202020;
}
#fl_menu .menu_item_text, #mb_menu .menu_item_text {
    position: relative;
    font-size: 1.5em;
    height: 100%;
    width: 65%;
    margin-left: 20%;
    margin-right: 15%;
}

#mb_menu {
    width: 100%;
    height: 50px;
    padding: 0;
}

#mb_menu .menu {
    display: none;
}

#mb_menu .label {
    font-size: 180%;
    cursor: hand;
    cursor: pointer;
    text-align: center;
    height: 50px;
    padding: 0;
    line-height: 50px;
    margin: 0;
}

#mb_menu .menu .menu_item {
    font-size: 180%;
    border-top: 1px solid #202020;
    border-left: none;
}

a {
    font-weight: bold;
    font-size: 115%;
    color: #101010;
    text-shadow: 
	1px 1px 2px rgba(0, 168, 255, 0.6),
	-1px -1px 2px rgba(255, 0, 180, 0.45);
}

a:link {
    text-shadow: 
	1px 1px 2px rgba(0, 168, 255, 0.6),
	-1px -1px 2px rgba(255, 0, 180, 0.45);
}
a:visited {
    text-shadow: 
	1px 1px 2px rgba(0, 168, 255, 0.6),
	-1px -1px 2px rgba(255, 0, 180, 0.45);
}
a:hover {
    text-shadow: 
	1px 1px 1px rgba(0, 168, 255, 0.8),
	-1px -1px 1px rgba(255, 0, 180, 0.40);
}
a:active {
    color: #303030;
    text-shadow: 
	1px 1px 1px rgba(100, 168, 255, 0.6),
	-1px -1px 1px rgba(255, 100, 180, 0.45);
}

#fl_menu a, #fl_menu a:link, #fl_menu a:visited, #mb_menu a, #mb_menu a:link, #mb_menu a:visited {
    font-weight: bold;
    font-size: 130%;
    text-shadow: none;
}
#fl_menu a:hover, #mb_menu a:hover {
    color: #fff;
    text-shadow: none;
}
#fl_menu a:active, #mb_menu a:active {
    color: #fff;
    text-shadow: 
	1px 1px 1px rgba(0, 168, 255, 0.6),
	-1px -1px 1px rgba(255, 0, 180, 0.45);
}
