{% comment %}
 vim:ft=htmldjango
{% endcomment %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{% trans "FR Ryd location booking" context "site title" %}</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}1140.css"></link>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css"></link>

	<script type='text/javascript' src='{{ STATIC_URL }}jquery-1.8.1.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}jquery-ui-1.8.23.custom.min.js'></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery.easing.1.3.js"></script>

	<script type='text/javascript' src='{{ STATIC_URL }}jquery.textfill.js'></script>

	<script type='text/javascript' src='{{ STATIC_URL }}noty/jquery.noty.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}noty/top.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}noty/center.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}noty/topRight.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}noty/default.js'></script>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJaXyMWLetAc4MfLKjtl86kPeuhi1Ukuc&sensor=false"></script>

	<script type='text/javascript' src='{{ STATIC_URL }}common.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}map_logic.js'></script>
	{% block head %}
	{% endblock %}
    </head>
    <body>
    <div id="top_rows">
	<div class="container row toprow">
	    {% if base.language == "en" %}
	    <div class="ninecol topcol">
	    <form name="setLangSwedish" action="/i18n/setlang/" method="POST">{% csrf_token %}
		<input name="next" type="hidden" value="{{ request.get_full_path }}" />
		<input type="hidden" name="language" value="sv" />
		<a href="#" onclick="document.setLangSwedish.submit();return false;">Svenska</a>
	    </form>
	    </div>
	    {% else %}
	    <div class="ninecol topcol">
	    <form name="setLangEnglish" action="/i18n/setlang/" method="POST">{% csrf_token %}
		<input name="next" type="hidden" value="{{ request.get_full_path }}" />
		<input type="hidden" name="language" value="en" />
		<a href="#" onclick="document.setLangEnglish.submit();return false;">English</a>
	    </form>		
	    </div>
	    {% endif %}

	    <div class="onecol logspace topcol">
		{% if request.user.is_authenticated %}
		    <a href='{% url profile request.user.username %}'>{{ request.user.username }}</a>
		{% endif %}
	    </div>
	    <div class="twocol last logspace topcol">
		{% if request.user.is_authenticated %}
		    <a href='{% url logout %}'>Logout</a>
		{% else %}
		<a href='{% url login %}'>Login</a><br/>{% trans "with liu-id"%}
		{% endif %}
	    </div>
	</div>

	{% if request.user.is_authenticated %}
	    {% if not request.user.profile.completed %}
	    <div class="profilewarningspan container" onclick="window.location='{% url profile request.user.username %}';">
		<div class="row">
		    <div class="fourcol"></div>
		    <div class="fourcol">You must complete your profile before making reservations. Click here to do it.</div>
		    <div class="fourcol"></div>
		</div>
	    </div>
	    {% endif %}
	{% endif %}

	<div id="top_rows_bottom">
	</div>

	<div class="hide-on-phone container menuspan">
	    <div id="fl_menu">
		<div class="menu_decorator"></div>
		<div class="label">MENU &lt; &lt; </div>
		<div class="menu">
		<a class="menu_item" href="{% url start %}"><div class="menu_item_text textfill"><span>Home</span></div></a>
		<a class="menu_item" href="{% url rules %}"><div class="menu_item_text textfill"><span>Rules</span></div></a>
		{% for r in base.resource_types %}
		<a class="menu_item" href="{% url resource_type r.id %}">
		    <img class="menu_item_image" src="{{ r.image.url }}" alt="{{ r.type_name }}s"/>
		    <div class="menu_item_text textfill"><span>{{ r.type_name }}s</span></div>
		</a>
		{% endfor %}
		</div>
		<div id="fl_menu_hover"></div>
	    </div>
	</div>
	<div class="show-on-phone container menuspan">
	    <div class="row">
		phone menu
	    </div>
	</div>
    </div>
    {% block content %}
    {% endblock %}
    <script type='text/javascript' src='{{ STATIC_URL }}menu_logic.js'></script>
    </body>
</html>
