{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{% trans "FR Ryd location booking" context "site title" %}</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css"></link>

	<script type='text/javascript' src='{{ STATIC_URL }}jquery-1.8.1.min.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}jquery-ui-1.8.23.custom.min.js'></script>

	<script type='text/javascript' src='{{ STATIC_URL }}noty/jquery.noty.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}noty/top.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}noty/center.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}noty/topRight.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}noty/default.js'></script>

	<script type='text/javascript' src='{{ STATIC_URL }}common.js'></script>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJaXyMWLetAc4MfLKjtl86kPeuhi1Ukuc&sensor=false"></script>
	<script type="text/javascript">
	    function initializeMap() {
		var mapOptions = {
		    center: new google.maps.LatLng(58.410334, 15.563014),
		    zoom: 16,
		    mapTypeId: google.maps.MapTypeId.SATELLITE,
		    disableDefaultUI: true,
		    panControl: false,
		    zoomControl: false,
		    mapTypeControl: false,
		    scaleControl: false,
		    streetViewControl: false,
		    overviewMapControl: false
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
	    }
	</script>
	{% block head %}
	{% endblock %}
    </head>
    <body onload="initializeMap()">
	<!-- Language selection -->
	{% trans "Choose Language:" %}
	<br/>
	<form name="setLangEnglish" action="/i18n/setlang/" method="POST">{% csrf_token %}
	    <input name="next" type="hidden" value="{{ request.get_full_path }}" />
	    <input type="hidden" name="language" value="en" />
	    <a href="#" onclick="document.setLangEnglish.submit();return false;">English</a>
	</form>
	<form name="setLangSwedish" action="/i18n/setlang/" method="POST">{% csrf_token %}
	    <input name="next" type="hidden" value="{{ request.get_full_path }}" />
	    <input type="hidden" name="language" value="sv" />
	    <a href="#" onclick="document.setLangSwedish.submit();return false;">Swedish</a>
	</form>                
	{% if request.user.is_authenticated %}
	    <a href='{% url logout %}'>Logout!</a>
	{% else %}
	    <a href='{% url login %}'>Login</a>
	{% endif %}
	<div id="map_canvas"></div>
	{% block content %}
	{% endblock %}
    </body>
</html>
