{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}

{% block head %}
<style type="text/css" media="screen">
    h1 {
	font-weight:bold;
	font-family:"Helvetica Neue", Arial, sans-serif;
	text-align:center;
	color: #313131;
	font-size: 160%;
	margin-top: 0px;
    }
</style>
{% endblock %}

{% block content %}
<div id="copyright_box">
    <div id="copyright_background"></div>
    <div id="copyright_content">
	<h1>Copyright info</h1>
	
	<p>Site designed and produced by <a href="https://github.com/OliverUv">Oliver Uvman</a>. Unless the code has already been uploaded to github, ask and you will probably receive.</p>
	<p>With code borrowed in gratitude:</p>
	<ul>
	<li><a href="http://arshaw.com/fullcalendar/">fullcalendar</a></li>
	<li>Some layout help with <a href="http://cssgrid.net/">1140 grid</a></li>
	<li>Menu from <a href="http://manos.malihu.gr/">malihu.gr</a></li>
	<li>Notifications with <a href="http://needim.github.com/noty/">noty</a></li>
	<li>Text resizing with <a href="https://github.com/jquery-textfill/jquery-textfill#readme">textfill</a></li>
	<li>Dynamic translations with <a href="http://github.com/KristianOellegaard/django-hvad">django-hvad</a></li>
	<li>Authentication with <a href="https://bitbucket.org/cpcc/django-cas/overview">django-cas</a></li>
	</ul>

	<p>And the background image borrowed from <a href="http://crazykira-resources.deviantart.com/">Alma Skenderi</a> (<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">CC-by-nc-nd</a>) (<a href="http://crazykira-resources.deviantart.com/art/Patterns-23-93684999">image #6</a>)</p>
    </div>
</div>
{% endblock %}
