{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="profile_box">
    <div id="profile_background"></div>
    <form id="profile_form" action="{{ request.path_info }}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
    </form>
</div>
<div id="profile_res_box hide-on-phone">
    <h1>Your reservations</h1>
    {% if not reservations %}
	<p>You will find a list of your reservations here.<p>
    {% else %}
	{% for r in reservations %}
	<div class="profile_res">
	    r @ {{ r.resource.name }}<br/>
	    from {{ r.start }} to {{ r.end }}
	    {% if r.deletion %}
	    deleted by {{ r.deletion.replacing_reservation.user.username }}
	    {% endif %}
	    {% if r.overwrites %}
	    you overwrote {{ r.overwrites.deleted_reservation.user.username }}'s r
	    {% endif %}
	</div>
	{% endfor %}
    {% endif %}
</div>
{% endblock %}
