{% extends "base.html" %}
{% load i18n %}

{% block head %}
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}cal/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}cal/fullcalendar.print.css' media='print' />
<script type='text/javascript' src='{{ STATIC_URL }}cal/fullcalendar.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}cal/calendar_logic.js'></script>
<script>
    function initialize() {
	calendarData = {
	    element_id: "calendar",
	    resource_id: {{ resource.id }},
	    reservation_url: "{% url single_click_reservation %}",
	    delete_url: "{% url delete_reservation %}",
	    resource_event_url: "{% url reservations resource.id %}"};

	initializeCalendar(calendarData);

	map = initializeMap("map_canvas", {{ resource.latitude }}, {{ resource.longitude }});
	addArrowIcon(map,
	    {{ resource.latitude }},
	    {{ resource.longitude }},
	    "{{ STATIC_URL }}images/down.png",
	    "{{ resource.name }}",
	    "{% url resource resource.id %}");

	{% for r in resources %}
	addResourceIcon(map,
	    {{ r.latitude }},
	    {{ r.longitude }},
	    "{{ r.image_url }}",
	    "{{ r.name }}",
	    "{% url resource r.id %}");
	{% endfor %}
    }

    $(document).ready(initialize);
</script>
{% endblock %}

{% block content %}
Showing resource {{ resource.name }} with id {{ resource.id }}.
<div class="row">
    <div id="map_canvas" class="sixcol"></div>
    <div id="calendar" class="sixcol"></div>
</div>
{% endblock %}
