{% extends "base.html" %}
{% load i18n %}

{% block head %}
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}cal/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}cal/fullcalendar.print.css' media='print' />
<style type="text/css" media="screen">
    .fc-state-highlight { background-color: #FFF !important; }
</style>
<script type='text/javascript' src='{{ STATIC_URL }}cal/fullcalendar.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}cal/calendar_logic.js'></script>
{% endblock %}

{% block content %}
<div id="rt_map_canvas"></div>
<div class="container" id="resource_divider">
    <div class="row"></div>
</div>

<div class="row show-on-phone">
    <h1>{{ resource_type.name }}</h1>
    <div class="twelevecol">
	<ul>
	    {% for r in resources %}
	    <li><a href="{% url resource r.id %}">{{ r.name }}</a></li>
	    {% endfor %}
	</ul>
    </div>
</div>

<div class="row hide-on-phone rt_cal_container">
{% for r in resources %}
    {% if not forloop.last %}
    <div class="rt_col" style="width: {{ cal_width }}%; margin-right: {{ cal_margin }}%;">
    {% else %}
    <div class="rt_col" style="width: {{ cal_width }}%; margin-right: 0;">
    {% endif %}
	<h2 class="rt_cal_title">{{ r.name }}</h2>
	<div id="resource_calendar{{ r.id }}" class="daycal"></div>
    </div>
{% endfor %}
</div>

<script>
    function set_percent_height(element_id, proportion) {
	var win_height = $(window).height();
	$("#" + element_id).height(win_height*proportion);
	$("#fl_menu_hover").height(win_height*proportion);
    }

    function ensure_height(element_id, proportion, conditional) {
	$(window).bind("resize", function() {
	    if (conditional()) {
		set_percent_height(element_id, proportion);
	    }
	});
	if (conditional())
	    set_percent_height(element_id, proportion);
    }

    function initialize() {
	ensure_height("rt_map_canvas", 0.634, always_true);

	mapData = {
	    element_id: "rt_map_canvas",
	    latitude: {{ latitude }},
	    longitude: {{ longitude }}};
	map = initializeMap(mapData);

	{% for r in resources %}
	calendarData = {
	    logged_in: "{{ request.user.is_authenticated }}",
	    view: 'agendaDay',
	    header: false,
	    element_id: "resource_calendar{{ r.id }}",
	    resource_id: {{ r.id }},
	    reservation_url: "{% url single_click_reservation %}",
	    delete_url: "{% url delete_reservation %}",
	    overwrite_url: "{% url overwrite_reservation %}",
	    resource_event_url: "{% url reservations r.id %}"};
	initializeCalendar(calendarData);

	function on_win_resize{{ r.id }}() {
	    var win_height = $(window).height();
	    var title_height = $(".rt_cal_title").outerHeight(true);
	    var cal_height = win_height - title_height;
	    $("#resource_calendar{{ r.id }}").fullCalendar('option', 'height', cal_height);
	};

	$(window).bind("resize", on_win_resize{{ r.id }});
	on_win_resize{{ r.id }}();

	addResourceIcon(map,
	    {{ r.latitude }},
	    {{ r.longitude }},
	    "{{ r.image_url }}",
	    "{{ r.name }}",
	    "{% url resource r.id %}");
	{% endfor %}
    }

    $(document).ready(initialize);
</script>
{% endblock %}
