{% extends "base.html" %}
{% load i18n %}

{% block head %}
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}cal/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}cal/fullcalendar.print.css' media='print' />
<script type='text/javascript' src='{{ STATIC_URL }}cal/fullcalendar.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}cal/calendar_logic.js'></script>
<script>
    function initialize() {
	function on_win_resize() {
	    if (is_mobile()) {
		$("#resource_info_column").after($("#resource_calendar"));
	    } else {
		$("#resource_info_column").before($("#resource_calendar"));
	    }

	    var win_height = $(window).height();
	    var top_pos = $("#resource_calendar").position().top;
	    var new_height = win_height - top_pos;
	    if (is_short()) {
		new_height = win_height;
	    }
	    $("#resource_calendar").fullCalendar('option', 'height', new_height);

	};

	calendarData = {
	    element_id: "resource_calendar",
	    resource_id: {{ resource.id }},
	    reservation_url: "{% url single_click_reservation %}",
	    delete_url: "{% url delete_reservation %}",
	    resource_event_url: "{% url reservations resource.id %}"};
	initializeCalendar(calendarData);
	$(window).bind("resize", on_win_resize);
	on_win_resize();

	mapData = {
	    element_id: "resource_map_canvas",
	    latitude: {{ resource.latitude }},
	    longitude: {{ resource.longitude }} };
	map = initializeMap(mapData);

	addArrowIcon(map,
	    {{ resource.latitude }},
	    {{ resource.longitude }},
	    "{{ STATIC_URL }}images/down.png",
	    "{{ resource.name }}",
	    "{% url resource resource.id %}");

	{% for r in resources %}
	addResourceIcon(map,
	    {{ r.latitude }},
	    {{ r.longitude }},
	    "{{ r.image_url }}",
	    "{{ r.name }}",
	    "{% url resource r.id %}");
	{% endfor %}
    }

    $(document).ready(initialize);
</script>
{% endblock %}

{% block content %}
<div id="resource_map_canvas" class="hide-on-short"></div>
<div class="container" id="resource_divider">
    <div class="row"></div>
</div>
<div class="row">
    <div id="resource_calendar" class="eightcol"></div>
    <div class="fourcol last" id="resource_info_column">
	<h1>{{ resource.name }}</h1>
	<p class="hide-on-mobile">{{ resource.specific_information }}</p>
    </div>
</div>
{% endblock %}
