{% extends "base.html" %}
{% load i18n %}

{% block head %}
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}cal/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}cal/fullcalendar.print.css' media='print' />
<script type='text/javascript' src='{{ STATIC_URL }}cal/fullcalendar.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}cal/calendar_logic.js'></script>
<script>
    function onDayClick(date, allDay, jsEvent, view) {
	generalOnDayClick(date, allDay, jsEvent, view, {{ resource.id }}, "{% url single_click_reservation %}");
    }

    function onEventClick(calEvent, jsEvent, view) {
	generalOnEventClick(calEvent, jsEvent, view, "{% url delete_reservation %}");
    }

    function initialize() {
	initializeCalendar("{% url reservations resource.id %}", onDayClick, onEventClick);

	map = initializeMap("map_canvas", {{ resource.latitude }}, {{ resource.longitude }});
	addArrowIcon(map,
	    {{ resource.latitude }},
	    {{ resource.longitude }},
	    "{{ STATIC_URL }}images/down.png",
	    "{{ resource.name }}",
	    "{% url resource resource.id %}");

	{% for r in resources %}
	addResourceIcon(map,
	    {{ r.latitude }},
	    {{ r.longitude }},
	    "{{ r.image_url }}",
	    "{{ r.name }}",
	    "{% url resource r.id %}");
	{% endfor %}
    }

    $(document).ready(initialize);
</script>
{% endblock %}

{% block content %}
Showing resource {{ resource.name }} with id {{ resource.id }}.
<div id="map_canvas"></div>
<div id="calendar"></div>
{% endblock %}
