{% extends "base.html" %}
{% load i18n %}

{% block head %}
<script>
    function initialize(){
	$(window).bind("resize", function() {fill_element("map_canvas");});
	fill_element("map_canvas");

	mapData = {
	    element_id: "map_canvas",
	    latitude: default_latitude,
	    longitude: default_longitude};
	map = initializeMap(mapData);

	{% for r in resources %}
	addResourceIcon(map,
	    {{ r.latitude }},
	    {{ r.longitude }},
	    "{{ r.image_url }}",
	    "{{ r.name }}",
	    "{% url resource r.id %}");
	{% endfor %}
    }

    $(document).ready(initialize);
</script>
{% endblock %}

{% block content %}
<div id="map_canvas"></div>
<div class="hide-on-phone container start_divider">
    <div class="row"> </div>
</div>
{% endblock %}
